<div>
  <strong>Warum möchtest Du ein Role Model sein?</strong>
  <%= @info.why %>
</div>
<div>
  <strong>Hast Du bereits an ähnlichen Projekten teilgenommen? An welchen Schule, auf welchen Events hast du bereits als Role Model gesprochen?</strong>
  <%= @info.past %>
</div>
<div>
  <strong>Hast Du bereits an einem Projekt gearbeitet?</strong>
  <%= @info.projects %>
</div>
<div>
  <strong>Wo würdest du für ein Role Model Projekt hinreisen?</strong>
  <%= @info.places %>
</div>