<div>
  <strong>Warum möchtest du ein Role Model sein?</strong>
  <%= @info.why %>
</div>
<div>
  <strong>Hast du bereits Schul-Events als Role Model gesprochen und wenn ja wo?</strong>
  <%= @info.past %>
</div>
<div>
  <strong>Bist oder warst du an Projekten beteiligt, die sich mit Frauen in IT befassen?</strong>
  <%= @info.projects %>
</div>
<div>
  <strong>Zusätzlicher Ort zu deinem Wohnort, an dem du sprechen würdest?</strong>
  <%= @info.places %>
</div>