<div class="container col-md-12 col-sm-12 col-xs-12">
  <h1 class="text-center">Über Uns</h1>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <p>
    Viral ethnic Etsy brunch selfies, VHS exercitation sed velit scenester mustache culpa. Letterpress squid High Life, meggings excepteur mumblecore church-key ethnic PBR Thundercats post-ironic dolor quinoa chillwave fugiat. Assumenda American Apparel id vero narwhal Banksy, sed cray quis culpa. Biodiesel Tumblr banh mi banjo, quis beard nesciunt flexitarian Terry Richardson VHS accusamus. Esse culpa tattooed Pinterest, sint velit meh bicycle rights. Qui aliqua vero pariatur, Blue Bottle id mustache. Polaroid ut irure enim, Tumblr eu ullamco Pitchfork 3 wolf moon kale chips brunch.
    </p>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <%= image_tag "https://pbs.twimg.com/media/BWZ6WuoCUAEIzhr.jpg", class: "outline" %>
  </div>
</div>
