<div class="container col-md-12">
  <h1 class="text-center">

  <%=  link_to "Wir finden es wirklich cool, dich in unserer Datenbank zu haben !", users_path, class: 'btn btn-primary btn-block'  %>

  <%=  link_to "Sieh dir andere Role Models an", users_path, class: 'btn btn-primary btn-block'  %>
</div>
