  <div id="logo">Rent a Role Model</div>
  <h1>Verbindet Frauen aus der IT Branche mit Schülern</h1>

  <div class="row">
    <%# <div class="col-md-1 col-sm-0 col-xs-0"> %>
    <%# </div> %>

    <div>
      <p>
        Du unterrichtest in der Oberstufe und suchst nach Frauen in Tech-Berufen als Vorbild für deine Schülerinnen? Mit „Rent a Role Model” kannst du nach Frauen in deiner Stadt suchen, die Schülerinnen bei der Berufsorientierung unterstützen möchten.
      </p>
      <%=  link_to "Ich suche ein Role Model", users_path, class: 'btn submit'  %>

    </div>

    <div>
      <p>
        Du bist eine Frau aus der Tech-Branche und möchtest Schülerinnen motivieren, in einem IT-Beruf zu arbeiten? Dann melde dich bei „Rent a Role Model” an, damit LehrerInnen dich finden und für Berufsorientierungstage anfragen können.
      </p>
      <%=  link_to "Ich bin ein Role Model", home_role_model_path, class: 'btn submit'  %>
    </div>


  
  </div>
