<h1>Anmeldung als Role Model</h1>
<div class="row xingLogin">
    <div>
        <p>Schön, dass du mitmachen willst! Alles was du brauchst, um ein „Role Model” zu werden, ist ein XING-Profil. Wenn du dich über XING anmeldest, können LehrerInnen dich finden, deine berufliche Laufbahn sehen und dich per Email kontaktieren.</p>
    </div>
    <div>
        <%=  link_to "Mit XING anmelden", sign_up_path, class: 'btn submit xing'  %>
    </div>
</div>
