<div class="container col-md-12">
  <h1 class="text-center">Anmeldung als Role Model</h1>
  <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <p>Schön, dass du mitmachen willst! Alles was du brauchst, um ein „Role Model” zu werden, ist ein XING-Profil. Wenn du dich über XING anmeldest, können LehrerInnen dich finden, deine berufliche Laufbahn sehen und dich per Email kontaktieren.</p>
        <%=  link_to "Mit XING anmelden", sign_up_path, class: 'btn btn-primary btn-block'  %>
      </div>
      <div class="col-md-3">
      </div>
  </div>
</div>
