<div class="container col-md-12 col-sm-12 col-xs-12">
  <h1 class="text-center">Suche nach einem Role Model in deiner Stadt!</h1>

  <div class="row">
    <div class="col-md-1 col-sm-0 col-xs-0">
    </div>

    <div class="col-md-5 col-sm-6 col-xs-12 padded-bottom">
      
      <%=  link_to "Role Models in Berlin", users_path(city: "Berlin"), class: 'btn btn-primary btn-block'  %>
    </div>


    <div class="col-md-5 col-sm-6 col-xs-12 padded-bottom">
 
      <%=  link_to "Role Models in Hamburg", users_path(city: "Hamburg"), class: 'btn btn-primary btn-block'  %>
    </div>

    <div class="col-md-1 col-sm-0 col-xs-0">
    </div>
  </div>
 </div>
