// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin: 1.5em;
}

.padded-bottom {
  padding-bottom: 2em;
}
