// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$brand-primary: #1a7576; // same as Xing color

h1 {
  margin: 1.5em;
  font-family: helvetica;
}

.home {
  font-size: 4em;
  font-weight:bold;
  text-shadow: 2px 2px 2px $brand-primary;
  margin-top: 1.2em;
  margin-bottom: 1em;

}

.padded-bottom {
  padding-bottom: 2em;
}

a.btn {
 color: white;
}

#blue-nav,
#foot-nav {
  background-color: $brand-primary;
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  border-color: $brand-primary;
  box-shadow: 0 1px 0 rgba($brand-primary,.1);
  border-radius: 0px;

  ul {
    width: 100%;
  }

  .navbar-brand {
    color: white;
  }

  a {
    color: lighten($brand-primary, 50%);
    &:hover {
      color: white;
    }
  }
}

#foot-nav {
  margin-top: 3em;

  min-height: 0;
  a {
    padding: 0.5em 1em 0.5em 0;
  }
}

.outline {
  outline: 2px solid rgba(0,0,0,0.2);
  outline-offset: -2px;
  margin-bottom: 0.5em;
}

#content-body {
  padding: 3.5em 0 5em 0;
}
